<div class="row">
  <div class="column">
    <h2>Phoenix Chat</h2>
    <div id="messages" class="messages"></div>
    <input type="text" id="message-input" placeholder="メッセージを入力...">
    <button id="send-button">送信</button>
  </div>
</div>

<script>window.userToken = "<%= @user_id %>";</script>
